
@using Histocity_Website.Models;
@model List<Question>

@{
    ViewBag.Title = "Question";
    Layout = "~/Views/_Layout.cshtml";
}

@if (TempData["Error"] != null)
{
    <p class="alert alert-danger" id="errorMessage">@TempData["Error"]</p>
}
else if (TempData["DeleteError"] != null)
{
    <p class="alert alert-danger" id="deleteError">@TempData["DeleteError"]</p>
}

<h1>Vragen overzicht</h1>
<table class="table">
    <thead>
        <tr>
            <th>Gemaakt op:</th>
            <th>Tijdperk</th>
            <th>Vraag</th>
            <th>Goede antwoord</th>
            <th>Fout antwoord 1</th>
            <th>Foute antwoord 2</th>
            <th>Niveau</th>
            <th>Actief</th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Count > 0)
    {
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.CreatedAt</td>
                <td>@question.EraName</td>
                <td>@question.QuestionText</td>
                <td>@question.GoodAnswer</td>
                <td>@question.WrongAnswer1</td>
                <td>@question.WrongAnswer2</td>
                <td>@question.Difficulty</td>
                <td>@question.ActiveInGame</td>

                @using (Html.BeginForm("Delete", "Question", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("QuestionID", @question.QuestionID)
                    <td><button type="submit" class="btn btn-danger" value="Delete">Verwijder</button></td>
                }


            </tr>
        }
    }
</table>

@if (TempData["Error"] != null)
{
    <p class="alert alert-danger" id="errorMessage">@TempData["Error"]</p>
}