
@using Histocity_Website.Models;
@model List<Question>

@{
    ViewBag.Title = "Question";
    Layout = "~/Views/_Layout.cshtml";
}


<h1>Vragen toevoegen</h1>
<br />
<form method="POST">
    <div class="form-group">
        <input class="form-control" type="text" id="questionText" name="questionText" placeholder="Vul de vraag hierin" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="goodAnswerText" name="goodAnswerText" placeholder="Vul hier het goede antwoord in" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="badAnswerText1" name="badAnswerText1" placeholder="Vul hier een fout antwoord in" />
    </div>
    <div class="form-group">
        <input class="form-control" type="text" id="badAnswerText2" name="badAnswerText2" placeholder="Vul hier een fout antwoord in" />
    </div>
    <div class="form-group">
        @Html.DropDownListFor(model => model.First().CategoryID, new SelectList(ViewBag.Categories, "Text", "Value"), "-- Kies een categorie --", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(model => model.First().EraID, new SelectList(ViewBag.Era, "Text", "Value"), "-- Kies een tijdperk --", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input class="btn btn-dark" type="submit" />
    </div>
</form>
<br />
<h1>Vragen overzicht</h1>
<table class="table">
    <thead>
        <tr>
            <th>Gemaakt op:</th>
            <th>Vraag</th>
            <th>Goede antwoord</th>
            <th>Fout antwoord 1</th>
            <th>Foute antwoord 2</th>
        </tr>
    </thead>
    @foreach (var question in Model)
    {
        <tr>
            <td>@question.CreatedAt</td>
            <td>@question.QuestionText</td>
            <td>@question.GoodAnswer</td>
            <td>@question.WrongAnswer1</td>
            <td>@question.WrongAnswer2</td>
        </tr>
    }
</table>

